<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post System</title>
    <link rel="stylesheet" href="./css/post.css">
</head>
<body>
    <header>
        <h1>โพสต์</h1>
    </header>
    <a href="/home">หน้าหลัก</a>
    <hr>
    <section>
        <form action="/post" method="POST" enctype="multipart/form-data">
            <label for="title">หัวข้อ</label>
            <input type="text" name="title" id="title">
            <label for="author">ผู้เขียน</label>
            <input type="text" name="author" id="author">
            <label for="content">เนื้อหา</label>
            <textarea name="content" id="content" cols="55" rows="12"></textarea>
            <label for="cover">แทรกรูปภาพ</label>
            <input type="file" name="cover" id="image">
            <input type="hidden" name="date" id="date">
            <button type="submit">โพสต์</button>
        </form>
    </section>
    <script src="./js/post.js"></script>
</body>
</html>