* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    padding-bottom: 0.1rem;
    margin: 1.3rem;
}

body {
    font-family:sans-serif;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    margin-top: 0rem;
    color: #363636;
}

header h2 {
    color: #363636;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 800;
    color: #363636;
    padding: 10px;
}

a:hover {
    background-color: #36363628;
    border-radius: 10px;
}

a:active {
    text-decoration: none;
    background-color: rgb(40, 40, 40);
    border-radius: 10px;
    color: rgb(223, 223, 223);
}

table {
    border-collapse: collapse;
}

table tr {
    border-bottom: 1px solid #ddd;
}

table tr:last-child {
    border-bottom: 0;
}

table tr:hover {
    background-color: #f5f5f5;
}

table th {
    background-color: #f5f5f5;
    color: #333;
}

table th, table td {
    text-align: left;
    padding: 12px 15px;
}

form {
    margin: 20px 0;
}

form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

nav div {
    width: 90%;
}

nav div a {
    margin-right: 3rem;
}

.welcome_session {
    display: flex;
    flex-direction: column;
    align-items: center;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcome_session h2 {
    font-size: 2rem;
}
.welcome_session small {
    font-size: 1rem;
    line-height: 3rem;
}